<% include ./header %>
    <div class="container-fluid">
      <div class="jumbotron">
        <h1>Person System</h1>
        <p>System to start with nodeJS - Only a person register :-)</p>
        <p><a class="btn btn-primary btn-lg" href="/persons" role="button">Go Person</a></p>
      </div>
    </div>
<% include ./footer %>
